@mixin font-base() {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: normal;
  color: $font-color-light;
  text-decoration: none;
}

@mixin font-description() {
  font-family: "Noto Sans", Arial, sans-serif;
  color: $font-color-light;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

@mixin font-title() {
  font-family: "Noto Sans", Arial, sans-serif;
  color: $font-color-light;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 90%;
}