.battles {
  background-color: $base-color-dark;
  max-width: 1120px;
  padding: 0 calc((100% - 1120px) / 2) 80px;
  margin: 2px 0 auto;
  box-shadow: 0 2px 0 #fff;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1150px) {
    & {
      padding: 0 0 50px 50px;
    }
  }

  &__title {
    @include font-title();
    max-width: 476px;
    margin: 70px 0 40px;

    @media screen and (max-width: 1150px) {
      & {
        margin-top: 50px;
      }
    }
  }

  &__description {
    @include font-description();
    max-width: 500px;
    margin: 0 0 110px;

    @media screen and (max-width: 1150px) {
      & {
        margin-bottom: 140px;
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 0;
    overflow-x: scroll;

    @media screen and (max-width: 1150px) {
      & {
        grid-gap: 28px;
      }
    }
  }

  &__image {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }

  &__board {
    margin: 110px 0 0 calc(100% - 416px);
    background-image: url("../../images/board-green.png");
    background-repeat: no-repeat;
    width: 416px;
    height: 104px;

    @media screen and (max-width: 1150px) {
      & {
        margin: 140px 0 0 calc(100% - 463px);
      }
    }
  }

  &__branding {
    background-image: url("../../images/battles-desctop.png");
    width: 440px;
    height: 220px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: -220px;
  }
}
