.header {
  background-color: $base-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto 60px;
  padding: 0 calc((100% - 1120px) / 2);
  box-sizing: border-box;

  @media screen and (max-width: 1150px) {
    & {
      padding: 0 50px;
    }
  }

  @media screen and (max-width: 700px) {
    & {
      margin: 18px auto 50px;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 700px) {
    &__logo {
      width: 26px;
      height: 36px;
    }
  }

  &__join {
    @include font-base();
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    font-size: 15px;
    width: 152px;
    margin: 0 0 0 660px;
    &-arrow {
      margin: 0 0 0 12px;
    }

    &:hover {
      opacity: 0.8;
    }
    @media screen and (max-width: 1150px) {
      & {
        font-size: 13px;
        line-height: 125%;
        margin-left: 281px;
        width: 135px;
      }
    }

    @media screen and (max-width: 768px) {
      & {
        margin-left: 220px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        display: none;
      }
    }
  }

  &__register {
    @include font-base();
    font-size: 15px;
    font-weight: 600;
    background-color: #009465;
    border: none;
    height: 48px;
    width: 218px;
    border-radius: 8px;
    margin: 0 0 0 50px;
    cursor: pointer;
    padding: 0;

    &:hover {
      background-color: #066c4c;
    }

    @media screen and (max-width: 1150px) {
      & {
        height: 44px;
        width: 184px;
        font-size: 13px;
        line-height: 18px;
        margin-left: 30px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        margin-left: 114px;
        height: 30px;
        width: 140px;
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
}
