.intro {
  background-color: $base-color-dark;
  padding: 0 calc((100% - 1120px) / 2) 80px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1150px) {
    & {
      padding: 0 50px 50px;
    }
  }

  @media screen and (max-width: 700px) {
    & {
      padding: 0 20px 20px;
    }
  }

  &__tag {
    background-color: $base-color-light;
    border-radius: 0px 30px 30px 0px;
    max-width: 84px;
    min-height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    @media screen and (max-width: 700px) {
      & {
        width: 63px;
        height: 40px;
        margin-left: calc((100% - 280px) / 2);
      }
    }
  }

  &__tag-text {
    @include font-base();
    margin: 0 0 0 18px;

    @media screen and (max-width: 700px) {
      & {
        font-size: 12px;
        line-height: 90%;
        margin: 0 0 0 14px;
      }
    }
  }

  &__title {
    @include font-title();
    max-width: 476px;
    margin: 70px 0 40px;

    @media screen and (max-width: 700px) {
      & {
        font-size: 40px;
        line-height: 90%;
        max-width: 280px;
        margin: 70px auto 40px;
      }
    }
  }

  &__description {
    @include font-description();
    max-width: 500px;
    margin: 0 0 182px;

    @media screen and (max-width: 1150px) {
      & {
        margin: 0 0 212px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        font-size: 12px;
        line-height: 130%;
        max-width: 280px;
        margin: 0 auto 110px;
      }
    }
  }

  &__board {
    margin: 0;
    background-image: url("../../images/board.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 416px;
    height: 104px;

    @media screen and (max-width: 700px) {
      & {
        width: 280px;
        height: 70px;
        margin: 0 auto;
      }
    }
  }

  &__branding {
    background-image: url("../../images/chess_desctop.png");
    width: 640px;
    height: 640px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: -160px;
    background-size: contain;

    @media screen and (max-width: 1150px) {
      & {
        width: 520px;
        height: 520px;
        right: -390px;
        top: 160px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        background-image: url("../../images/chess_mobile.png");
        width: 120px;
        height: 60px;
        right: calc((100% - 280px) / 2);
        top: -1px;
      }
    }
  }
}
