.pop-up {
    background-color: #000000;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 100;
    display: flex;

    &_is-closed {
        display: none;
    }

    &__close {
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
    }
  
    &__container {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 120px auto;
    }

    &__logo {
        margin: 0 auto 50px;
    }

    &__title {
        margin: 0 auto 78px;
        @include font-base ();
        font-weight: 600;
        font-size: 34px;
        line-height: 90%;
    }

    &__main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input-container {
        border: none;
        display: flex;
        flex-direction: column;
        margin: 0 auto 253px;
    }
        
    &__item {
        background-color: #1A1A1A;
        border: none;
        border-radius: 8px;
        height: 48px;
        width: 500px;
        margin: 0;
        padding: 15px 28px;
        box-sizing: border-box;
        color: #FFF;

        &::placeholder {
            color: #FFF;
        }

        &::-ms-input-placeholder {
            color: #FFF;
        }

        &_el_name {
            margin-bottom: 20px;
        }
    }

    &__submit {
        @include font-base ();
        font-size: 15px;
        font-weight: 600;
        background-color: #009465;
        border: none;
        height: 48px;
        width: 218px;
        border-radius: 8px;
        margin: 0 auto;
        cursor: pointer;
      }
}