.team .swiper {
  display: none;
  min-height: 382px;
}
@media screen and (max-width: 700px) {
  .team .swiper {
    display: block;
  }
}
.team .swiper .swiper-image {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.battles .swiper {
  display: none;
  min-height: 318px;
}
@media screen and (max-width: 700px) {
  .battles .swiper {
    display: block;
  }
}
.battles .swiper .swiper-image {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}